@import "@/styles/Variables.module.scss";

// Desktops
.forgotpasspage {
    padding-top: 6rem; 
    position: relative;
    background-color: transparent;
    filter: brightness(100%);
    background-image: url('/login-background.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.passwordBoxHeader {
    color: $primary;
    text-align: center;
    font-weight: bold;
    font-family: 'BadScript';
}

.passwordBoxText{
    color: $primary;
}

.passwordBoxTextBottom {
    color: $primary;
    text-align: center;

    .passwordBoxLink {
        color: $secondary;
    }

    .passwordBoxLink:hover {
        color: $tertiary;
    }
}



// Smaller Desktop
@media(min-width:951px) and (max-width:1250px){

    .forgotpasspage {
        padding-top: 18%;
    }

}


// Tablets
@media(min-width:501px) and (max-width:950px){

    .forgotpasspage {
        padding-top: 25%;
        padding-left: 2%;
        padding-right: 2%;
    }
}


// Mobiles
@media (max-width:500px){

    // Make the login box fit the smaller screen
    .forgotpasspage {
        padding-top: 25%;
        padding-bottom: 25%;
        padding-left: 2%;
        padding-right: 2%;
    }
}