@import "@/styles/Variables.module.scss";

.pagecontainer {
    padding-top: 5%;                        // The navbar will take up the top part of the screen and overlay the start of the div without this.
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.headerText {
    text-align: center;
    font-family: 'BadScript';
    color: $primary;

    p {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.textBlobsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textBlob {
    padding-top: 1rem;
    width: 50%;
    margin: 0 auto;

    h3 {
        font-family: 'Bungee';
        color: $primary;
    }

    p {
        font-family: 'Thasadith';
        font-size: large;
    }
}



// Smaller Desktop
@media(min-width:951px) and (max-width:1250px){

    .pagecontainer {
        padding-top: 8%;
    }

}


// Tablets
@media(min-width:501px) and (max-width:950px){

    .pagecontainer {
        padding-top: 10%;                        // The navbar will take up the top part of the screen and overlay the start of the div without this.
    }
}


// Mobiles
@media (max-width:500px){

    // Make the login box fit the smaller screen
    .pagecontainer {
        padding-top: 20%;                        // The navbar will take up the top part of the screen and overlay the start of the div without this.
        width: 100%;                    // Has to be % for mobile screens to vw or vh
        height: 100%;
    }
}