@import "@/styles/Variables.module.scss";

// Desktops
.registerpage {
    padding-top: 10%;
    padding-bottom: 15%;
    position: relative;
    z-index: 1;
    background-color: transparent;
    filter: brightness(100%);
    background-image: url('/login-background.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
}

.form-errors {
    color: $warn;
    background-color: $warn;
}






// Smaller Desktop
@media(min-width:951px) and (max-width:1250px){

    .registerpage{
        padding-top: 13%;
    }

}


// Tablets
@media(min-width:501px) and (max-width:950px){

    .registerpage {
        padding-top: 35%;
        padding-bottom: 60%;
        padding-left: 2%;
        padding-right: 2%;
    }

}


// Mobiles
@media (max-width:500px){

    // Make the login box fit the smaller screen
    .registerpage {
        padding-top: 35%;
        padding-bottom: 50%;
        padding-left: 2%;
        padding-right: 2%;
    }

}